body {
    background-color: seagreen;
}
h1 {
    text-align: center;
    color: black;
    font-family: fantasy;
}
h2 {
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
p {
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%
}
form {    
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 2px black;
    font-size: 125%;
}
button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h6 {
    text-align: center;
    color: forestgreen;
    font-family: fantasy;
}
.boldedThings {
    text-shadow: 1px 1px 2px black;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
